%h1 Listing articles

%table
  %tr
    %th Title
    %th Desc
    %th Author
    %th Publisher
    %th Link
    %th Category
    %th "发表于"
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.desc
      %td= article.author
      %td= article.publisher
      %td= article.link
      %td= article.category.name
      %td= article.created_at
      %td= link_to 'Show', article
      %td= link_to 'Edit', edit_article_path(article)
      %td= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Article', new_article_path
