#content-container
  #profile-container
    #full-container 
      #form-header
        %h1
          -if current_user.avatar_file_name == nil
            =image_tag("rabbit.gif", :class => 'avatar-48')
          -else
            =image_tag(current_user.avatar.url(:thumb), :class => 'avatar-48')
          =current_user.username
          =@foldername
      %div.h10
      %div.cols
        %div.twocols-1.mail-1
          = render :partial => "mailbox/mailbox_list"
        %div.twocols-2.mail-2
          %div.mail-body
            %ul
              %li
                %strong
                  标题: 
                #{@message.subject}
              %li
                %strong
                  收件人: 
                =link_to @message.recipient.username, @message.recipient
              %li
                %strong
                  发送时间 
                #{l @message.created_at}
                = link_to "永久删除", fdelete_sent_path(@message), :method => "put"
            %div
              = @message.body
        %div.clear
      %div.h10
    %div.h10

