<%= render :partial => "mailbox/mailbox_list" %>

<div id="mailbody">
  <div><div id="foldername"><%=h @foldername %></div><div id="page"><%= will_paginate @messages %></div></div>

<table class="admin">
<thead>
  <tr>
    <th>收件人</th>
    <th>标题</th>
    <th>发送时间</th>
    <th>动作</th>
  </tr>
</thead>
  
  <% for message in @messages%>
    <tbody>
    <tr>
       <% unless message.is_hide %>  
      <td width="15%"><%=link_to h(message.recipients.map(&:username).to_sentence),:controller=>"users",:action =>"show",:id=>message.author.id %></td>
      <td width="35%"><%= link_to h(message.subject), sent_path(message) %></td>
      <td width="15%"><%= message.created_at %></td>       
      <td width="10%">

            <%= link_to "永久删除", fdelete_sent_path(message), :method => "put"%>
      
        <%end%>
    </tr>
  </tbody>
  <% end %>
</table>


</div>